In [47]:
import requests
import pandas as pd
import lxml
import xmltodict

serviceKey = 'YjwuOSErCt4PB%2BANN4eK26d76AIC6dbwF52v%2FNkCmmZdIi4ZSXRSITMWtc2y%2B%2F8gjL6p4%2FBfiNZgoraqpsihDg%3D%3D'
total_tour_df = None

for i in range(2013, 2017):
    url = f'http://openapi.tour.go.kr/openapi/service/TourismAccdtService/getTourismTotqyList?serviceKey={serviceKey}&YY={i}'
    req = requests.get(url)
    total_tour_dict = xmltodict.parse(req.text)
    total_tour_piece = pd.Series(total_tour_dict['response']['body']['items']['item']).to_frame()
    total_tour_df = pd.concat([total_tour_df, total_tour_piece], axis = 1)
    
total_tour = total_tour_df.T.set_index('yy', drop = True).T
total_tour

yy                    2013       2014       2015       2016
costDay            7755063    8090615    8412585    8544322
costExcept         8945975   10494455   10234712   10365151
costExceptDay      3630530    4322842    4381790    4448775
costExceptNight    5315445    6171613    5852922    5916375
costNight         15479252   16848368   16983064   17204166
costTot           23234315   24938983   25395649   25748487
costTour          14288340   14444528   15160937   15383337
costTourDay        4124533    3767773    4030795    4095546
costTourNight     10163807   10676755   11130142   11287790
costUnit               백만원        백만원        백만원        백만원
pcntDay          131368005  129746182  138521516  140682024
pcntExcept       120093942  118874534  122966336  124064638
pcntExceptDay     67922820   68216162   73203935   73990912
pcntExceptNight   52171123   50658372   49762401   50073725
pcntNight         99666530   98069037   99775795  101067931
pcntTot          231034535  227815219  238297311  241749955
pcntTour         110940592  108940685  115330975  117685318
pcntTourDay       63445185   61530019   65317581   66691112
pcntTourNight     47495407   47410665   50013394   50994206
pcntUnit                 회          회          회          회
pnumDay           30011682   30773487   30202196   30540218
pnumExcept        29913501   31062063   30526444   31141354
pnumExceptDay     21624481   22811573   21749858   22154899
pnumExceptNight   20505890   21756461   21436465   21672111
pnumNight         31058136   32149761   32084253   32372386
pnumTot           37800004   38059002   38307303   39293235
pnumTour          31364363   32004613   32586226   32948059
pnumTourDay       21178556   21947702   21873941   22440361
pnumTourNight     23863282   24465654   24336586   24676709
pnumUnit                 명          명          명          명
rnum                     1          1          1          1
ttotDay          131368005  129746182  138521516  140682024
ttotExcept       203887074  207236230  208993008  210573308
ttotExceptDay     67922820   68216162   73203935   73990912
ttotExceptNight   63445185   61530019   65317581   66691112
ttotNight        257852307  268562232  268297184  271696131
ttotTot          389220312  398308414  406818700  412378155
ttotTour         185333237  191072184  197825692  201804847
ttotTourNight    121888052  129542164  132508111  135113735
ttotUnit                 일          일          일          일

In [55]:
serviceKey = 'YjwuOSErCt4PB%2BANN4eK26d76AIC6dbwF52v%2FNkCmmZdIi4ZSXRSITMWtc2y%2B%2F8gjL6p4%2FBfiNZgoraqpsihDg%3D%3D'
tour_rat_df = None

for i in range(2013, 2017):
    url = f'http://openapi.tour.go.kr/openapi/service/TourismAccdtService/getTourismExprncrtList?serviceKey={serviceKey}&YY={i}'
    req = requests.get(url)
    tour_rat_dict = xmltodict.parse(req.text)
    tour_rat_piece = pd.Series(tour_rat_dict['response']['body']['items']['item']).to_frame()
    tour_rat_df = pd.concat([tour_rat_df, tour_rat_piece], axis = 1)
    
tour_rat = tour_rat_df.T.set_index('yy', drop = True).T
tour_rat

yy              2013  2014  2015  2016
ratDay          68.7  69.8  69.3  69.6
ratExcept       68.4  70.5  70.1  70.9
ratExceptDay    49.5  51.8  49.9  50.5
ratExceptNight  46.9  49.4  49.2  49.4
ratNight        71.1  72.9  73.6  73.7
ratTot          86.5  86.4  87.9  89.5
ratTour         71.8  72.6  74.8    75
ratTourDay      48.5  49.8  50.2  51.1
ratTourNight    54.6  55.5  55.8  56.2
rnum               1     1     1     1

In [51]:
serviceKey = 'YjwuOSErCt4PB%2BANN4eK26d76AIC6dbwF52v%2FNkCmmZdIi4ZSXRSITMWtc2y%2B%2F8gjL6p4%2FBfiNZgoraqpsihDg%3D%3D'
tour_cnt_df = None

for i in range(2013, 2017):
    url = f'http://openapi.tour.go.kr/openapi/service/TourismAccdtService/getTourismCoList?serviceKey={serviceKey}&YY={i}'
    req = requests.get(url)
    tour_cnt_dict = xmltodict.parse(req.text)
    tour_cnt_piece = pd.Series(tour_cnt_dict['response']['body']['items']['item']).to_frame()
    tour_cnt_df = pd.concat([tour_cnt_df, tour_cnt_piece], axis = 1)
    
tour_cnt = tour_cnt_df.T.set_index('yy', drop = True).T
tour_cnt

yy              2013  2014  2015  2016
numDay          3.01  2.94  3.18   3.2
numExcept       2.75   2.7  2.82  2.83
numExceptDay    1.55  1.55  1.68  1.69
numExceptNight  1.19  1.15  1.14  1.14
numNight        2.28  2.23  2.29   2.3
numTot          5.29  5.17  5.47  5.51
numTour         2.54  2.47  2.65  2.68
numTourDay      1.45   1.4   1.5  1.52
numTourNight    1.09  1.08  1.15  1.16
rnum               1     1     1     1

In [54]:
serviceKey = 'YjwuOSErCt4PB%2BANN4eK26d76AIC6dbwF52v%2FNkCmmZdIi4ZSXRSITMWtc2y%2B%2F8gjL6p4%2FBfiNZgoraqpsihDg%3D%3D'
tour_day_df = None

for i in range(2013, 2017):
    url = f'http://openapi.tour.go.kr/openapi/service/TourismAccdtService/getTourismDaycntList?serviceKey={serviceKey}&YY={i}'
    req = requests.get(url)
    tour_day_dict = xmltodict.parse(req.text)
    tour_day_piece = pd.Series(tour_day_dict['response']['body']['items']['item']).to_frame()
    tour_day_df = pd.concat([tour_day_df, tour_day_piece], axis = 1)
    
tour_day = tour_day_df.T.set_index('yy', drop = True).T
tour_day

yy              2013  2014  2015  2016
dayDay          3.01  2.94  3.18   3.2
dayExcept       4.66   4.7   4.8   4.8
dayExceptDay    1.55  1.55  1.68  1.69
dayExceptNight  3.11  3.15  3.12  3.11
dayNight         5.9  6.09  6.16  6.19
dayTot           8.9  9.04  9.34  9.39
dayTour         4.24  4.34  4.54   4.6
dayTourDay      1.45   1.4   1.5  1.52
dayTourNight    2.79  2.94  3.04  3.08
rnum               1     1     1     1

In [56]:
serviceKey = 'YjwuOSErCt4PB%2BANN4eK26d76AIC6dbwF52v%2FNkCmmZdIi4ZSXRSITMWtc2y%2B%2F8gjL6p4%2FBfiNZgoraqpsihDg%3D%3D'
tour_exp_df = None

for i in range(2013, 2017):
    url = f'http://openapi.tour.go.kr/openapi/service/TourismAccdtService/getTourismExpndtrList?serviceKey={serviceKey}&YY={i}'
    req = requests.get(url)
    tour_exp_dict = xmltodict.parse(req.text)
    tour_exp_piece = pd.Series(tour_exp_dict['response']['body']['items']['item']).to_frame()
    tour_exp_df = pd.concat([tour_exp_df, tour_exp_piece], axis = 1)
    
tour_exp = tour_exp_df.T.set_index('yy', drop = True).T
tour_exp

yy                2013    2014    2015    2016
expDay          177428  183571  193049  194621
expExcept       204674  238112  234862  236096
expExceptDay     83063   98083  100552  101334
expExceptNight  121612  140030  134311  134762
expNight        354149  382279  389721  391874
expTot          531576  565850  582770  586495
expTour         326902  327737  347908  350400
expTourDay       94365   85488   92497   93288
expTourNight    232537  242249  255410  257112
rnum                 1       1       1       1